<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Post+No+Bills+Jaffna:wght@600&display=swap" rel="stylesheet"> -->

<div class="hero">
  <div class="hero__content">
    <h1>Жилой комплекс</h1>
    <p>В историческом центре</p>
    <img class="mouse" src="/assets/mouse.svg">
    <div class="nomer">
      <div>      
        <img src="/assets/placeholder.svg" alt="">    
        <p class="text1">Наб. реки Фонтанки 10-15</p>
    </div>
      <div>
        <img src="/assets/phone-call.svg" alt="">
        <p class="text2">8 (812) 123-45-67</p>
      </div>
  </div>



  </div>
</div>