<section class="benefits">

  <div class="container">

    <div class="benefits__grid">
      <div class="benefits__item">
        <img src="/assets/bench.svg" alt="bench">
        <p>Рядом исторические<br>парки и скверы</p>
      </div>
      <div class="benefits__item">
        <img src="/assets/building.svg" alt="building">
        <p>Полностью<br>обустроенный</p>
      </div>
      <div class="benefits__item">
        <img src="/assets/fountain.svg" alt="fountain">
        <p>10 фонтанов<br>на территории</p>
      </div>
      <div class="benefits__item">
        <img src="/assets/bicycle.svg" alt="fountain">
        <p>10 фонтанов<br>на территории</p>
      </div>
    </div>
  </div>
</section>


