<!-- <section class="cta">
  <div class="container cta__container">
    <div class="cta__text">
      <h2 class="cta__title">Хотите посмотреть?</h2>
      <p class="cta__desc">ЖК LoftHouse – это проект бизнес-класса, расположенный в центре города, на Наб. реки Фонтанки 10-15. Комплекс предлагает своим жильцам квартиры площадью от 40 до 170 кв. м. В здании будет три секции, в которых разместится всего 56 квартир.</p>
    </div>
    <form class="cta__form">
      <input type="text" placeholder="Ваше имя">
      <input type="tel" placeholder="Ваш телефон">
      <button type="submit">Посмотреть район</button>
    </form>
  </div>
</section> -->
<section class="cta">
  <div class="container cta__container">
    <div class="cta__text">
      <h2 class="cta__title">Хотите посмотреть?</h2>
      <p class="cta__desc">ЖК LoftHouse – это проект бизнес-класса, расположенный в центре города, на Наб. реки Фонтанки 10-15. Комплекс предлагает своим жильцам квартиры площадью от 40 до 170 кв. м. В здании будет три секции, в которых разместится всего 56 квартир.</p>
    </div>

    <form class="cta__form">
      <div class="cta__inputs">
        <input type="text" placeholder="Ваше имя">
        <input type="tel" placeholder="Ваш телефон">
      </div>
      <button type="submit">Посмотреть район</button>
      <p class="cta__policy">
        *Мы никому не передаём ваши данные.  
        И не сохраняем ваш номер в базу.
      </p>
    </form>
  </div>
</section>
