<section class="flats">
  <div class="container">
    <h2 class="title">Наши квартиры</h2>

    <div class="flats__grid">
      <div class="flat">
        <img src="/assets/first.png" alt="Квартира 1">
      </div>
      <div class="flat">
        <img src="/assets/second.png" alt="Квартира 2">
      </div>
      <div class="flat">
        <img src="/assets/third.png" alt="Квартира 3">
      </div>
      <div class="flat">
        <img src="/assets/fourth.png" alt="Квартира 4">

      </div>
    </div>
  </div>
</section>
